In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

%matplotlib inline

In [182]:
dfs = [pd.read_csv('train.csv',header=0,usecols=['Survived','Pclass','Sex','Age','Fare','Embarked']),
      pd.read_csv('test.csv',header=0,usecols=['Pclass','Sex','Age','Fare','Embarked'])]
y = dfs[0].iloc[:,0].values.astype(np.float32)
dfs[1].head(5)

   Pclass     Sex   Age     Fare Embarked
0       3    male  34.5   7.8292        Q
1       3  female  47.0   7.0000        S
2       2    male  62.0   9.6875        Q
3       3    male  27.0   8.6625        S
4       3  female  22.0  12.2875        S

In [3]:
d = pd.read_csv('train.csv',header=0)
d.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [183]:
for df in dfs:
    df['Age']= df['Age'].fillna(df['Age'].mean())
    df['Embarked']= df['Embarked'].fillna('S')
    df['Fare']= df['Fare'].fillna(df['Fare'].mean())
    
    df['Sex'] = df['Sex'].map( {'female': 1, 'male': 0} ).astype(int)
    df['Embarked']= df['Embarked'].map( {'S': 0, 'C': 1, 'Q': 2} ).astype(int)

In [214]:

for df in dfs:
    df= df.dropna(axis=0)


x = dfs[0].iloc[:,1:].values.astype(np.float32)

x_test = dfs[1].iloc[:,:].values.astype(np.float32)

In [215]:
ratio=0.67
l = len(x)
n_trn = int(ratio*l)
ind = np.random.permutation(l)

x = x[ind]
y = y[ind]

x_trn = x[:n_trn] 
y_trn = y[:n_trn]
x_tst = x[n_trn:]
y_tst = y[n_trn:]

In [216]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
logreg = LogisticRegression()
logreg.fit(x_trn, y_trn)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [217]:

print('Accuracy of logistic regression classifier on test set: {:.2f}'.format(logreg.score(x_tst, y_tst)))

Accuracy of logistic regression classifier on test set: 0.77

In [221]:
from sklearn import model_selection
from sklearn.model_selection import cross_val_score
kfold = model_selection.KFold(n_splits=10, random_state=7)
modelCV = LogisticRegression()
scoring = 'accuracy'
results = model_selection.cross_val_score(modelCV, x_trn, y_trn, cv=kfold, scoring=scoring)
print("10-fold cross validation average accuracy: %.3f" % (results.mean()))

10-fold cross validation average accuracy: 0.809

Submit:

In [222]:
logreg = LogisticRegression()
logreg.fit(x, y)
y_predicted=logreg.predict(x_test)

In [223]:
print(y_predicted.shape)

(418,)

In [224]:
df = pd.read_csv('gender_submission.csv',header=0)
df = df.drop('Survived',1)
df['Survived']=y_predicted.astype(np.integer)
df.to_csv('submit.csv',index=False)
df.head(5)

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1

In [225]:
df = pd.read_csv('submit.csv',header=0)
df.head(5)

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1